<H2>
	Username: {{firstName}} {{lastName}}
</H2>
<h4> id:</h4>
<p>{{id}}</p>
<h4> Username:</h4>
<p>{{username}}</p>
<h4> First name: </h4>
<p>{{firstName}} </p>
<h4> Last name: </h4>
<p>{{lastName}} </p>
<h4> Profession: </h4>
<p>{{profession}} </p>
<h4> Bio: </h4>
<p>{{bio}}</p>